<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>
            <a id="mainHeader" href="/">Dagboken</a>
        </h1>
    </header>
    <div id="topContainer">
        
        <div id="topLeft"><form method="post" th:action="@{/add}" th:object="${blogpost}">
            <h1 class="header">Skapa nytt inlägg</h1>
            <input id="postFormRubrik" type="text" name="rubrik" placeholder="Rubrik">
            <br>
            <input id="postFormDate" type="date" name="date">
            <br>
            <textarea id="postFormText" name="text" placeholder="Gudomliga insikter.."></textarea>
            <br>
            <input id="postFormSubmit" type="submit" value="Skapa inlägg">
            </form>
        </div>

        <div id="topMiddle">
            <h1 class="header">Mina inlägg</h1>
                <ul>
                    <li th:each="post : ${posts}">
                        <a th:href="@{/blogg/{id}(id=${post.id})}" th:text="${post.rubrik}"></a>
                        <span id="spanDate" th:text="' - ' +${post.date}"></span>
                    </li>
                </ul>
        </div>

        <div id="topRight">
            <h1 class="header">Filtrera efter tid</h1>
    
            <form method="get" th:action="@{/filter}">
                <input type="date" name="from">
                <input type="date" name="to">
                <br>
                <input type="submit" value="Filtrera inlägg">
            </form>
        </div>
    </div>
    

 

    
</body>
</html>