<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/script.js"></script>
</head>
<body>
    <h1>Dagboken</h1>

    <form method="post" th:action="@{/add}" th:object="${blogpost}">
    <input type="rubrik" name="rubrik" placeholder="rubrik">
    <input type="date" name="date">
    <textarea name="text" placeholder="text"></textarea>
    <input type="hidden" name="isHiddenInFuture" value="0">
    <input type="submit" value="Skapa inlägg">
    </form>
    
    <ul>
        <li th:each="post : ${posts}">
            <a th:href="@{/blogg/{id}(id=${post.id})}" th:text="${post.rubrik}"></a>
        </li>
    </ul>
</body>
</html>