<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" th:inline="none" defer></script>
</head>
<body>
    <form method="get" action="/">
        <input type="submit" value="Gå tillbaka">
    </form>

    <form method="get" th:action="@{/delete/{id}(id=${blogpost.id})}">
        <input type="submit" value="Ta bort inlägg">
    </form>

    <button id="editBtn">Redigera inlägg</button>

    <p th:text="'Blogginlägg nr: ' + ${blogpost.id}"></p>
    <p th:text="${blogpost.date}"></p>

    <h1 id="rubrik" th:text="${blogpost.rubrik}"></h1>
    <p id="text" th:text="${blogpost.text}"></p>

    <form id="form" method="post" th:object="${blogpost}" th:action="@{/edit/{id}(id=${blogpost.id})}" style="display: none;">
        <textarea id="editRubrik" name="rubrik"></textarea>
        <br>
        <textarea id="editText" name="text"></textarea>
        <br>
        <input id="editDate" type="date" name="date" th:value="*{date}">
        <br>
        <input type="submit" value="Spara">
    </form>
    

</body>
</html>